In [2]:
import pandas as pd
import requests

Ideas:
- Check the denominator column if it's all 10

Problems: 
Quality
- Incorrect data types:
    - Tweet ID is float
    - Datetime
- expanded_url in the twitter archive has more than one url
- twitter_archive dog_names are incorrect
- twitter_archive dog_names with None should be Null
- Some text in tweet are encoded wrongly => names
- some ratings are not for dogs but other things
- ratings with decimals did not get extracted properly
- tweet info id_str is int
- tweet info language should be categorical

Tidiness:
- Split the twitter archive to tweet info and dog info
- melt the dog stages into one column

In [3]:
def download_file(url,filename):
    r = requests.get(url)
    with open(filename,'wb') as file:
        file.write(r.content)

In [4]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
filename = url.split('/')[-1]
download_file(url,filename)
image_pred = pd.read_csv(filename, sep='\t')
tweet_info = pd.read_json('tweet-json.txt',lines=True)

In [5]:
twitter_archive.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [6]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [23]:
twitter_archive[['extracted_numerator','extracted_denominator']] = twitter_archive.text.str.extract(r'(\d+\.?\d*)\/(\d+\.?\d*)')

In [44]:
twitter_archive.query("name=='a'").text.apply(lambda x: x.split(' ')[-1])

56      https://t.co/ghXBIIeQZF
649     https://t.co/LRyMrU7Wfq
801     https://t.co/8lpAGaZRFn
1002    https://t.co/TGenMeXreW
1004    https://t.co/L3U0j14N5R
1017    https://t.co/9e48aPrBm2
1049    https://t.co/xOBKCdpzaa
1193    https://t.co/2ATDsgHD4n
1207    https://t.co/cxl6xGY8B9
1340    https://t.co/81mvJ0rGRu
1351    https://t.co/9dpcw6MdWa
1361    https://t.co/hMjzhdUHaW
1368    https://t.co/4EnShAQjv6
1382    https://t.co/ItSsE92gCW
1499    https://t.co/krvbacIX0N
1737    https://t.co/yavgkHYPOC
1785    https://t.co/Ozo9KHTRND
1853    https://t.co/7E0AiJXPmI
1854    https://t.co/H7kpabTfLj
1877    https://t.co/WjcELNEqN2
1878    https://t.co/diboDRUuEI
1923    https://t.co/Bko5kFJYUU
1941    https://t.co/dFiaKZ9cDl
1955    https://t.co/gKlLpNzIl3
1994    https://t.co/xHXNaPAYRe
2034    https://t.co/2IslQ8ZSc7
2066    https://t.co/34OhVhMkVr
2116    https://t.co/CtuJoLHiDo
2125    https://t.co/98ZBi6o4dj
2128    https://t.co/yV3Qgjh8iN
2146    https://t.co/6GUGO7azNX
2153    https://t.co/ODnILTr4QM
2161    https://t.co/eCRdwouKCl
2191    https://t.co/Dmy2mY2Qj5
2198    https://t.co/IGmVbz07tZ
2211    https://t.co/2Su7gmsnZm
2218    https://t.co/HvNg9JWxFt
2222    https://t.co/YOHe6lf09m
2235    https://t.co/XpseHBlAAb
2249    https://t.co/J4GnJ5Swba
2255    https://t.co/ZU0i0KJyqD
2264    https://t.co/IQTOMqDUIe
2273    https://t.co/J4vn2rOYFk
2287    https://t.co/jpaeu6LNmW
2304    https://t.co/cyDfaK8NBc
2311    https://t.co/uEvsGLOFHa
2314    https://t.co/uQbZJM2DQB
2327    https://t.co/LopTBkKa8h
2334    https://t.co/IIXis0zta0
2347    https://t.co/yWBqbrzy8O
2348    https://t.co/rdivxLiqEt
2350    https://t.co/fvIbQfHjIe
2352    https://t.co/DWnyCjf2mx
2353    https://t.co/y671yMhoiR
2354    https://t.co/r7mOb2m0UI
Name: text, dtype: object

In [30]:
twitter_archive.query('extracted_numerator != rating_numerator')[['extracted_numerator','rating_numerator']]

     extracted_numerator  rating_numerator
0                     13                13
1                     13                13
2                     12                12
3                     13                13
4                     12                12
...                  ...               ...
2351                   5                 5
2352                   6                 6
2353                   9                 9
2354                   7                 7
2355                   8                 8

[2356 rows x 2 columns]

19      8.874740e+17
32      8.860537e+17
36      8.305833e+17
68      8.780576e+17
73      8.782815e+17
            ...
1242    7.119983e+17
1286             NaN
1860             NaN
2259    6.675487e+17
2260    6.675484e+17
Name: retweeted_status_id, Length: 183, dtype: float64

In [59]:
twitter_archive[twitter_archive.retweeted_status_id.notnull()].shape

(181, 19)

In [12]:
image_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [21]:
image_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [33]:
image_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [37]:
image_pred.query(f'p1_conf == {image_pred.p1_conf.min()}')

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
38,666644823164719104,https://pbs.twimg.com/media/CUBl6IwVAAA9_zT.jpg,1,Ibizan_hound,0.044333,True,Pembroke,0.043209,True,West_Highland_white_terrier,0.038906,True

In [18]:
tweet_info.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [24]:
tweet_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(11)
memory usage: 505.9+ KB

In [28]:
pd.merge(tweet_info,twitter_archive,right_on=['tweet_id'], left_on=['id']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2354 entries, 0 to 2353
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source_x                       2354 non-null   object
 9   in_reply_to_status_id_x        78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id_x          78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
 31  tweet_id                       2354 non-null   int64
 32  in_reply_to_status_id_y        78 non-null     float64
 33  in_reply_to_user_id_y          78 non-null     float64
 34  timestamp                      2354 non-null   object
 35  source_y                       2354 non-null   object
 36  text                           2354 non-null   object
 37  retweeted_status_id            179 non-null    float64
 38  retweeted_status_user_id       179 non-null    float64
 39  retweeted_status_timestamp     179 non-null    object
 40  expanded_urls                  2295 non-null   object
 41  rating_numerator               2354 non-null   int64
 42  rating_denominator             2354 non-null   int64
 43  name                           2354 non-null   object
 44  doggo                          2354 non-null   object
 45  floofer                        2354 non-null   object
 46  pupper                         2354 non-null   object
 47  puppo                          2354 non-null   object
dtypes: bool(4), datetime64[ns, UTC](1), float64(15), int64(7), object(21)
memory usage: 836.8+ KB

In [39]:
pd.merge(twitter_archive,image_pred,on='tweet_id').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2074
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2075 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2075 non-null   object
 4   source                      2075 non-null   object
 5   text                        2075 non-null   object
 6   retweeted_status_id         81 non-null     float64
 7   retweeted_status_user_id    81 non-null     float64
 8   retweeted_status_timestamp  81 non-null     object
 9   expanded_urls               2075 non-null   object
 10  rating_numerator            2075 non-null   int64
 11  rating_denominator          2075 non-null   int64
 12  name                        2075 non-null   object
 13  doggo                       2075 non-null   object
 14  floofer                     2075 non-null   object
 15  pupper                      2075 non-null   object
 16  puppo                       2075 non-null   object
 17  jpg_url                     2075 non-null   object
 18  img_num                     2075 non-null   int64
 19  p1                          2075 non-null   object
 20  p1_conf                     2075 non-null   float64
 21  p1_dog                      2075 non-null   bool
 22  p2                          2075 non-null   object
 23  p2_conf                     2075 non-null   float64
 24  p2_dog                      2075 non-null   bool
 25  p3                          2075 non-null   object
 26  p3_conf                     2075 non-null   float64
 27  p3_dog                      2075 non-null   bool
dtypes: bool(3), float64(7), int64(4), object(14)
memory usage: 427.6+ KB